.user_info {
    display: flex;
    align-items: center;
    justify-content: center;

}

.user_info img {
    width: 100px;
}

 .profile_container .option{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBackground {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modalContainer {
    width: 400px;
    height: 550px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    padding: 25px;
  }
  .sign_up{
    display: flex;
    justify-content: center;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }

  .follow-container{
    margin-bottom: 10px;
  }
  .profile_info{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
  }